div {
	width:200px ;
	height: 200px;
	border: 8px solid yellow;
	padding: 20px;
	margin-right: 200px;
	margin-bottom: 400px;
	display: inline-block;
}
p{
	text-align: center;
}

.cuadro2{
	margin-top: 200px;
	margin-right: 400px;
}